@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    background-color: #050505;
    color: white;
    overflow: hidden;
  }
  
  #root {
    width: 100vw;
    height: 100vh;
  }
}

@layer utilities {
  /* Custom scrollbar for logs */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

